#shell
{
    width: 97%;
    font-size: 1.5em;
    font-family: "Helvetica Neue", "Droid Sans", Arial, Helvetica, sans-serif;
    padding: 10px;
}

h1
{
    font-size: 2em;
    font-family: Georgia, serif;
    color: #a00;
    margin-bottom: 5px;
    text-align: center;
}

#date
{
    font-family: bold;
    font-size: 1.1em;
    color: #666;
    margin: 1.5em 0;
}

h2
{
    width: 100% !important;
    display: block;
    background: #c00;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
}

p.updated
{
    font-size: .8em;
    margin: 1.2em 0;
}

table
{
    width: 100%;
    border: 1px dotted #ccc;
}

td
{
    border-bottom: 1px solid #ccc;
    width: 33%;
    padding: 2px;
}

td.place
{
    width: 10%;
    font-weight: bold;
}

.first {
    font-weight: bold;
    color: #00f;
}

.second {
    font-weight: bold;
    color: #f00;
}

.third {
    font-weight: bold;
    color: #888;
}

.honorable {
    font-weight: bold;
    color: #080;
}

td.teamname
{
    width: 60%;
}

td.score
{
    font-size: 1.3em;
    width: 30%;
    text-align: right;
}

